<% provide(:title,'About Us')%>

<h1>About Us</h1>
<div>
  This is the place where we learn Ruby on Rails not by skimming but by doing the real coding. It is the only place where we see and feel the code which we write and configure.  
</div>

