<% provide(:title,'Contact Us') %>

<h1>Contact Us</h1>
<div>
  Please fill out the form below to let us know your feedback:
</div>
<div>
  Contact our customer care on the help line (toll free) : 181-99999-9999
</div>
