<% provide(:title,'Home')%>

<h1>Sample App</h1>
<div>Learning Ruby on Rails is as easy as fiddling through  
  <a href="http://railstutorial.org/">Ruby on the Rails Tutorials</a>
  <br/><a href=http://saas-class.org/">Software as Service Class on Courseera.org</a>  
</div>
